<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- icon -->
  <!-- custom css -->

  <title>Thriller Diary</title>
</head>
<body id="homepage">
<!-- <h1>I am the Body of Thriller Diary Homepage</h1> -->
<!-- Top section -->
<header id="top" class="section_top">
  <h1 id="title-header">Thriller Diary</h1>
  <nav>
    <ul>
      <a routerLink="/signin"><li><button class="btn-toHome">Sign-In</button></li></a>
      <a routerLink="/signup"><li><button class="btn-toSign">Sign-Up</button></li></a>
    </ul>
  </nav>
</header>

<main>
  <section class="section" id="marketing">
    <div class="wrap-content">
      <div onload="" id="welcoming-message">

      </div>
      <p class="text-white">
        <a routerLink="signup"><button id="join-btn" class="text-white">Join for Free</button></a>
      </p>
    </div>
  </section>

</main>

<app-footer></app-footer>
