<main>
  <section id="modify-sec">
    <h1 class="font-style-me">Hope you are doing fine.Let's write some story.</h1>
    <form id="add-form" (ngSubmit)="onSubmit()">
      <div class="group-form" id="errors">

      </div>
      <div class="group-form">
        <p><b>Title</b></p>
        <input class="form-input" type="text" id="title" name="title" [(ngModel)]="entry.title" maxlength="20" placeholder="eg. At NewYork " required>
      </div>
      <!-- <div class="group-form">
          <p><b>Date</b></p>
          <input class="form-input" type="date" id="story-date" min="2018-01-01" max="2099-01-31" name="story-date" placeholder="Date">
      </div> -->
      <div class="group-form">
        <p><b>Story</b></p>
        <textarea class="form-input" name="story-description" [(ngModel)]="entry.description" id="description" cols="30" rows="10" placeholder="A brief story" required></textarea>
      </div>
      <div>
        <button type="submit" class="btn-toSign">Add</button>
      </div>
    </form>
  </section>
</main>
